{% extends 'base.html' %}
{% load staticfiles %}

{% block left %}
<div class="boardnum">
	<span>请输入编码：</span>
	<input type="text" class="usernum" id="boardcode">
</div>
<div class="boardnum">
	<span>请输入SN号：</span>
	<input type="text" class="usernum" id="sn">
	<span class="notlack">*</span>
</div>
<div class="boardnum">
	<span>请输入Config：</span>
	<input type="text" class="usernum" id="config">
	<span class="notlack">*</span>
</div>
<div class="boardnum">
	<span>请选择来源：</span>
	<input type="text" class="usernum" id="source">
	<ul class="hide" id="sourceul">
		<li>WiPASX</li>
		<li>Testing</li>
		<li>FATP</li>
	</ul>
	<span class="notlack">*</span>
</div>
<div>
	<span style="display:inline-block" class="fl h150">请输入测试状态：</span>
	<textarea class="h150" id="teststatus"></textarea>
</div>
<div class="submit">
	<span id="validatemsg" style="width:250px"></span>
	<button class="button" onclick="validateadd()">点击录入</button>
</div>

<script type="text/javascript">
	$(function(){
		$("#source").focus(function(){
			$(".boardnum ul").removeClass("hide")
		})

		$("#sourceul li").click(function(){
			source = $(this).text().split('-')[0]
			$("#source").val(source);
			$("#sourceul").addClass("hide")
		})
	})

	//隐藏source下拉框
	$(document).bind('click',function(e){ 
	　　 var e = e || window.event; //浏览器兼容性 
	　　 var elem = e.target || e.srcElement; 
　　　　 if (elem.id != 'sourceul' && elem.id != 'source') { 
　　　　      $("#sourceul").addClass("hide")
　　　　 }
	}); 

	//验证输入
	function validateadd(){
		sn = $("#sn").val()
		config = $("#config").val()
		source = $("#source").val()
		if(sn=='' || config=='' || source==''){
			$("#validatemsg").text('sn,config,source不能为空！')
		}else{
			confirmadd(sn,config,source)
		}
	}

	//确定录入
	function confirmadd(sn,config,source){
		boardcode = $("#boardcode").val()
		teststatus = $("#teststatus").val()
		data = {"boardcode":boardcode,"sn":sn,"config":config,"source":source,"teststatus":teststatus}
		$.ajax({
			url:'/mlbsystem/confirmadd',
			data:data,
			type:'get',
			dataType:'JSON',
			success:function(data){
				if(data.result){
					alert('录入成功!')
					window.location.reload()
				}else{
					alert(data.errormsg)
				}
			},
			error:function(xmlHq,status,errorThrows){
				console.log(status)
			}
		})
	}
</script>

{% endblock %}