{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="demo" style="margin:20px 40px;">
        <table class="bordered">
          <thead>
            <tr>   
                <th>编码</th>
                <th>SN号</th>
                <th>Config</th>
                <th>归还时间</th>
                <th>归还人</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% if backboard_instance_list %}
                {% for backboard in backboard_instance_list %}    
                    <tr>
                        <td>{{backboard.board.boardcode}}</td>
                        <td>{{backboard.board.sn}}</td>
                        <td>{{backboard.board.config}}</td>
                        <td>{{backboard.backtime}}</td>
                        <td>{{backboard.user.username}}</td>
                        <td>{{backboard.remark}}</td>
                        <td>update,delete</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr><td  colspan="9" class="tc">无数据</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}