{% extends 'base.html' %}
{% load staticfiles %}

{% block left %}

<div class="boardnum mart10">
	<span style="display:inline-block;" class="fl h200">请扫描主板：</span>
	<textarea id="boardlist"></textarea>
	<span class="spanalign">*</span>
</div>
<div>
	<span style="display:inline-block" class="fl h150">请输入备注：</span>
	<textarea class="h150" id="remark"></textarea>
</div>

<div class="submit">
	<span id="validatemsg" style="width:250px"></span>
	<button class="button" onclick="backboard()">点击归还</button>
</div>

<script type="text/javascript">
	function backboard(){
		boardlist = $("#boardlist").val().split('\n')
		remark = $("#remark").val()
		$.ajax({
			url:'confirmback',
			data:{'boardlist':JSON.stringify(boardlist),'remark':remark},
			type:'get',
			dataType:'JSON',
			success:function(data){

			},
			error:function(xmlHq,error,errorThrows){

			}
		})
	}
</script>

{% endblock %}