{% load staticfiles %}
<!doctype>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/table_css3.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-v1.11.1.js' %}"></script>
</head>
<body>
	<div class="zhezhao hide" onclick="hideprojectcfg()"></div>
	<div class="pro_cfg_detail hide">
		<p>
			借板查看
			<span onclick="hideprojectcfg()">X</span>
		</p>
		<div class="demo" id="pro_cfg_detail">
            
		</div>
	</div>


	<div class="mlb">
		<h3>WiPASX MLB主板管理系统</h3>
		<ul>
			<li><a href="#" class="active">全部</a></li>
			<li><a href="#">D32</a></li>
			<li><a href="#">D321</a></li>
			<li><a href="#">D22</a></li>
			<li><a href="#">D221</a></li>
		</ul>
	</div>
	<div class="nav">
		<ul>
			<li><a href="/mlbsystem/loanboard/" {% ifequal nav 'loanboard'%} class="active" {% endifequal %}>主板借出</a></li>
			<li><a href="/mlbsystem/backboardpage/" {% ifequal nav 'backboard'%} class="active" {% endifequal %}>主板归还</a></li>
			<li><a href="/mlbsystem/addboard/" {% ifequal nav 'addboard' %} class="active" {% endifequal %}>主板录入</a></li>
			<li><a href="/mlbsystem/index/" {% ifequal nav 'index' %} class="active" {% endifequal %}>主板查询</a></li>
			<li><a href="/mlbsystem/loansearch/" {% ifequal nav 'loansearch' %} class="active" {% endifequal %}>借出查询</a></li>
			<li><a href="/mlbsystem/backsearch/" {% ifequal nav 'backsearch' %} class="active" {% endifequal %}>归还查询</a></li>
			<li><a href="#">删板查询</a></li>
			<li><a href="#">点板操作</a></li>
		</ul>
		<div class="searchbtn">
			<a href="#">主板搜索</a>
		</div>
	</div>

	{% if addorloan %}
	<div style="width:1300px;margin:0 auto;margin-top:10px">
		<div class="left">{% block left %}{% endblock %}</div>
		<div class="right">
			<div class="demo">
	            <table class="zebra">
	              	<thead>
	                <tr>
	                    <th>序号</th>
						<th>pro_cfg</th>
						<th>总数量</th>
						<th>借出数量</th>
						<th>剩余数量</th>
	                </tr>
	              	</thead>
		            <tbody>
		            	{% for pro_cfg in pro_cfg_list %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{pro_cfg.pro_cfg}}</td>
								<td>{{pro_cfg.totalnums}}</td>
								{% ifequal pro_cfg.loannums 0 %}
									<td>{{pro_cfg.loannums}}</td>
								{% else %}
									<td class="c_FF0" onclick="showprojectcfg(this)">{{pro_cfg.loannums}}</td>
								{% endifequal %}
								<td>{{pro_cfg.remainnums}}</td>
							</tr>
						{% endfor %}  
		            </tbody>
	                <tfoot>
		                <tr>
			                <td>&nbsp;</td>        
			                <td></td>
			                <td></td>
			                <td></td>
			                <td></td>
	                	</tr>
		            </tfoot>
	            </table>
    		</div>
		</div>
	</div>
	{% endif %}

	{% block content %}{% endblock %}

	<script type="text/javascript">
		function showprojectcfg(obj){
			pro_cfg_code = $(obj).prev().prev().text()

			$.ajax({
				url:'pro_cfg_loan',
				type:'get',
				data:{'pro_cfg_code':pro_cfg_code},
				//dataType:'JSON',
				success:function(data){
					$(".zhezhao").removeClass("hide")
					$(".pro_cfg_detail").removeClass("hide")
					
			        $("#pro_cfg_detail").html(data)
				},
				error:function(xmlHq,error,errorThrows){
					console.log(error)
				}
			})
		}
		function hideprojectcfg(){
			$(".zhezhao").addClass("hide")
			$(".pro_cfg_detail").addClass("hide")
		}
	</script>

</body>
</html>