{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="demo" style="margin:20px 40px;">
        <table class="bordered">
          <thead>
            <tr>
                <th>pro_cfg</th>        
                <th>编码</th>
                <th>SN号</th>
                <th>Config</th>
                <th>来源</th>
                <th>测试状态</th>
                <th>录入时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% if board_list %}
                {% for board in board_list %}    
                    <tr>
                        <td>{{board.pro_cfg.pro_cfg}}</td>         
                        <td>{{board.boardcode}}</td>
                        <td>{{board.sn}}</td>
                        <td>{{board.config}}</td>
                        <td>{{board.source}}</td>
                        <td>{{board.teststatus}}</td>
                        <td>{{board.storetime}}</td>
                        <td>
                            {% ifequal board.status '0' %}
                                在库
                            {% else %}
                                借出({{board.status}})
                            {% endifequal %}
                        </td>
                        <td>update,delete</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr><td  colspan="9" class="tc">无数据</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}